<style>
 .fa-comment-o:hover{
     background: aqua;

 }
 .fa-heart-o:hover{
     background: red;
 }
 h4{
     text-decoration: underline;
 }
 h5{
margin-left: 300px;
 }
 p1{
     margin-left: 20px;
     font-size: larger;
 }
 .bod{
     background: black;
     width: 1000px
 }
</style>
{% extends 'registration/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for image in all_images %}
            <div class="card">
                <a href="{% url 'showprofile' id=image.profile.id %}">
                    <img src="{{image.profile_details.profile_pic.cdn_url}}" class="rounded-circle" style="width:50px; height:50px" alt="profile"/>
                        {{image.profile.username}}</a>
                <hr>
                  <!-- <h5><strong>{{image.profile.username}}</strong></h5> -->
                  <p1><em>{{image.caption}}</em></p1>
                <div class="card-img-top">
                    <img src="{{image.pic.cdn_url}}" class="card-img-top" alt="Image"></div>
                <div class="container">
                    <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href=" {% url 'like' image_id=image.id %}">
                        <i class="fa fa-heart-o fa-3x" style="color: black" aria-hidden="true"></i></a>

                        <a href=" {% url 'comment' image_id=image.id %}">
                            <i class="fa fa-comment-o fa-3x" aria-hidden="true" style="color:black;"></i></a>
                        <hr>
                    </li>
                    </ul>
                  
                    <br>
                    <p></p>{{likes|length}} likes
                    <p class=""> {{image.comment.count}} comments </p>

                <div class="card-body ">
                    {% for comment in comments %}
                    {% if comment.image_id == image.id%}
                    <h4><strong>{{comment.comment_owner}}</strong></h4>
                    <p>{{comment.comment}}</p>
                    <hr><br>
               
                    {% endif %}
                    {% endfor %}
                </div>
                </div>


                                </div>

            {% empty %}
            <h2>No images. Follow people to see their images</h2>
            <p><a href= "{% url 'upload_image' %}">Add Image</a></p>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}